{
    "env": {
        "commonjs": {
            "presets": [
                [
                    "env",
                    {
                        "loose": true
                    }
                ]
            ]
        }
    }
}
